<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>

    <!-- remove dotnet powered-by version header -->
    <httpRuntime enableVersionHeader="false"/>

    <!-- show us some errors damn it -->
    <customErrors mode="Off"/>

    <!-- stop spewing out cookies -->
    <!--sessionState mode="Off" cookieless="true" timeout="30"/>-->

    <!-- explicitly set encoding to utf-8 -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

  </system.web>



  <system.webServer>

    <httpProtocol>
      <customHeaders>

        <!-- ditch powered-by junk -->
        <remove name="X-Powered-By" />
        <!-- no cookies -->
        <remove name="Set-Cookie" />

        <!-- force https -->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>

        <!-- allow cross domain scripting, SEE: http://stackoverflow.com/questions/17323350/access-control-allow-origin-with-multiple-domains -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS,HEAD" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />

      </customHeaders>
    </httpProtocol>



    <!-- define our beautiful request handlers -->
    <handlers>

      <!-- clean up -->
      <remove name="WebDAV" />

      <!-- remove options handler -->
      <remove name="OPTIONSVerbHandler" />

      <!-- add node.js handler -->
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <remove name="iisnode" />
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>

    </handlers>



    <!-- REQUIRED: make IIS display Fyneworks errors (including friendly 404 pages!) -->
    <httpErrors existingResponse="PassThrough"/>



    <!-- default document -->
    <defaultDocument enabled="true">
      <files>
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
        <remove value="Default.aspx" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <remove value="Default.html" />
        <remove value="index.asp" />
        <add value="index.asp" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>


    <!-- route traffic -->
    <rewrite>

      <!-- rewrite rules -->
      <rules>
        <clear />

        <rule name="route all requests to app.js" stopProcessing="true">
          <match url=".+" />
          <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" negate="true" matchType="IsFile"/>
              <add input="{REQUEST_FILENAME}" negate="true" matchType="IsDirectory"/>
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>

      </rules>
    </rewrite>

    <iisnode
        devErrorsEnabled="true"
        watchedFiles="*.js;node_modules\*"
        nodeProcessCommandLine="\program files\nodejs\node.exe"
    />
    <!--
    http://stackoverflow.com/questions/23468370/iisnode-cant-find-my-32-bit-node-js-installation-on-windows-8
    iisnode sample web.config: https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
    mklink /D "C:\Program Files (x86)\nodejs" "C:\Program Files\nodejs"
    -->

  </system.webServer>

</configuration>
